<h1>Welcome to my first Rails application!</h1>
<p>
You've found the homepage to my first applicatiion!
<%= link_to "Google", "http://www.google.com" %>
</p>
<p>
	<%= link_to "Sign up now!", "#" %>
</p>

<div class="footer">
	<small>
		By Me!
	</small>
</div>

